@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300;500;600&family=Quattrocento&display=swap");
@font-face {
  font-family: futura-pt;
  src: url(./assets/fonts/FuturaPTCondBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f6fb;
}

#main .container {
  width: 90%;
  font-family: "poppins";
  padding-bottom: 6rem;
}

.container .header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem;
}

.container .header h1 {
  font-family: futura-pt;
  font-size: 60px;
  color: #472e8d;
}

.container .header .btm-bar {
  width: 8rem;
  height: 5px;
  background-color: #b8db15;
}

.cards {
  /* width: 60%; */
  display: flex;
  margin: auto;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 30px #0000001A;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card .box-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.card .box-text h2 {
  color: #472e8d;
}

.card .box-text p {
  color: #878787;
}

.card .box-text a,.main-btn {
  width: 139px;
  background-color: #f4c911;
  padding: 10px 30px;
  border-radius: 33px;
  color: #472E8D;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.main-btn {
    width: 182px;
    padding: 20px 40px;
    font-size: 18px;
    margin-top: 2rem;
    font-weight: 700;
}

/* Mobile */
@media screen and (max-width: 576px) {
    .container .header h1 {
        font-size: 40px;
    }
}

/* Tablet */
@media screen and (max-width: 991.98px) {
 
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .card {
        width: 90%;
    }
    .main-btn {
        width: 183px;
    }
}